# Comprensión de los Datos

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Descripción de Variables

Pregnancies Número de embarazos: Cuantitativa Discreta  
Glucose Concentración de glucosa en plasma: Cuantitativa Continua  
BloodPressure Presión arterial diastólica: Cuantitativa Continua  
SkinThickness Espesor del pliegue de la piel: Cuantitativa Continua  
Insulin Nivel de insulina: Cuantitativa Continua  
BMI Índice de Masa Corporal : Cuantitativa Continua  
DiabetesPedigreeFunction Estimador del riesgo genético de diabetes: Cuantitativa Continua  
Age Edad: Cuantitativa Discreta  
Outcome Diagnóstico de diabetes (0 = No, 1 = Sí): Categórica Nominal

**Ejemplo:** Crear un objeto DataFrame con base en un archivo .csv

In [3]:
#lee archivo csv
diabetes = pd.read_csv("diabetes.csv")

In [5]:
#Usa función shape para revisar el total de renglones y columnas
diabetes.shape

(768, 9)

In [6]:
#Revisa los primeros 5 renglones del dataset usando la función head()
diabetes.head(6)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

In [7]:
#Revisa los últimos 5 renglones del dataset usando la función tail()
diabetes.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
#Revisa la información mas completa del conjunto de datos usando la función info()
#Muestra el total de datos, las columnas y su tipo correspondiente, dice si contiene nulos o no

diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [9]:
#revisa cuántos valores únicos tiene cada atributo del archivo usando la función nunique()
diabetes.nunique()

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

## Exploración de Datos

In [10]:
#utiliza la función describe() para obtener estadística básica. se puede incluir -0
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
#Revisa Valores nulos con funcion isnull().sum()
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [13]:
#Revisar valores únicos por columna usando función unique(): nombre-columna.unique()
diabetes.BMI.unique()

array([33.6, 26.6, 23.3, 28.1, 43.1, 25.6, 31. , 35.3, 30.5,  0. , 37.6,
       38. , 27.1, 30.1, 25.8, 30. , 45.8, 29.6, 43.3, 34.6, 39.3, 35.4,
       39.8, 29. , 36.6, 31.1, 39.4, 23.2, 22.2, 34.1, 36. , 31.6, 24.8,
       19.9, 27.6, 24. , 33.2, 32.9, 38.2, 37.1, 34. , 40.2, 22.7, 45.4,
       27.4, 42. , 29.7, 28. , 39.1, 19.4, 24.2, 24.4, 33.7, 34.7, 23. ,
       37.7, 46.8, 40.5, 41.5, 25. , 25.4, 32.8, 32.5, 42.7, 19.6, 28.9,
       28.6, 43.4, 35.1, 32. , 24.7, 32.6, 43.2, 22.4, 29.3, 24.6, 48.8,
       32.4, 38.5, 26.5, 19.1, 46.7, 23.8, 33.9, 20.4, 28.7, 49.7, 39. ,
       26.1, 22.5, 39.6, 29.5, 34.3, 37.4, 33.3, 31.2, 28.2, 53.2, 34.2,
       26.8, 55. , 42.9, 34.5, 27.9, 38.3, 21.1, 33.8, 30.8, 36.9, 39.5,
       27.3, 21.9, 40.6, 47.9, 50. , 25.2, 40.9, 37.2, 44.2, 29.9, 31.9,
       28.4, 43.5, 32.7, 67.1, 45. , 34.9, 27.7, 35.9, 22.6, 33.1, 30.4,
       52.3, 24.3, 22.9, 34.8, 30.9, 40.1, 23.9, 37.5, 35.5, 42.8, 42.6,
       41.8, 35.8, 37.8, 28.8, 23.6, 35.7, 36.7, 45.2, 44. , 46.2, 35. ,
       43.6, 44.1, 18.4, 29.2, 25.9, 32.1, 36.3, 40. , 25.1, 27.5, 45.6,
       27.8, 24.9, 25.3, 37.9, 27. , 26. , 38.7, 20.8, 36.1, 30.7, 32.3,
       52.9, 21. , 39.7, 25.5, 26.2, 19.3, 38.1, 23.5, 45.5, 23.1, 39.9,
       36.8, 21.8, 41. , 42.2, 34.4, 27.2, 36.5, 29.8, 39.2, 38.4, 36.2,
       48.3, 20. , 22.3, 45.7, 23.7, 22.1, 42.1, 42.4, 18.2, 26.4, 45.3,
       37. , 24.5, 32.2, 59.4, 21.2, 26.7, 30.2, 46.1, 41.3, 38.8, 35.2,
       42.3, 40.7, 46.5, 33.5, 37.3, 30.3, 26.3, 21.7, 36.4, 28.5, 26.9,
       38.6, 31.3, 19.5, 20.1, 40.8, 23.4, 28.3, 38.9, 57.3, 35.6, 49.6,
       44.6, 24.1, 44.5, 41.2, 49.3, 46.3])

In [18]:
diabetes['Insulin'].unique()

array([  0,  94, 168,  88, 543, 846, 175, 230,  83,  96, 235, 146, 115,
       140, 110, 245,  54, 192, 207,  70, 240,  82,  36,  23, 300, 342,
       304, 142, 128,  38, 100,  90, 270,  71, 125, 176,  48,  64, 228,
        76, 220,  40, 152,  18, 135, 495,  37,  51,  99, 145, 225,  49,
        50,  92, 325,  63, 284, 119, 204, 155, 485,  53, 114, 105, 285,
       156,  78, 130,  55,  58, 160, 210, 318,  44, 190, 280,  87, 271,
       129, 120, 478,  56,  32, 744, 370,  45, 194, 680, 402, 258, 375,
       150,  67,  57, 116, 278, 122, 545,  75,  74, 182, 360, 215, 184,
        42, 132, 148, 180, 205,  85, 231,  29,  68,  52, 255, 171,  73,
       108,  43, 167, 249, 293,  66, 465,  89, 158,  84,  72,  59,  81,
       196, 415, 275, 165, 579, 310,  61, 474, 170, 277,  60,  14,  95,
       237, 191, 328, 250, 480, 265, 193,  79,  86, 326, 188, 106,  65,
       166, 274,  77, 126, 330, 600, 185,  25,  41, 272, 321, 144,  15,
       183,  91,  46, 440, 159, 540, 200, 335, 387,  22, 291, 392, 178,
       127, 510,  16, 112])

## Variables Cuantitativas

### Medidas de tendencia central

In [17]:
#Se puede obtener la media, mediana y moda para
mean_Insulin = diabetes['Insulin'].mean()
median_Insulin =diabetes['Insulin'].median()
mode_Insulin = diabetes['Insulin'].mode()
print("Mean_Insulin:",mean_Insulin)
print("Median_Insulin:",median_Insulin)
print("Mode_Insulin:",mode_Insulin)

Mean_Insulin: 79.79947916666667
Median_Insulin: 30.5
Mode_Insulin: 0    0
Name: Insulin, dtype: int64

Conclusiones:
La edad promedio fue 29
La edad al centro es 28
La edad más repetida fue de 24

# Variables Categóricas

In [20]:
#Para conteo  de cada valor en una columna, en orden descendente usar función value_counts():    
# nombreDataframe.columna.value_counts()
# nombreDataframe['columna'].value_counts()
diabetes.Insulin.value_counts()

Insulin
0      374
105     11
130      9
140      9
120      8
      ...
73       1
171      1
255      1
52       1
112      1
Name: count, Length: 186, dtype: int64

In [23]:
#Revisa conteo de varias columnas
diabetes.BMI.value_counts()

BMI
32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: count, Length: 248, dtype: int64

In [31]:
# Crear variable familySize que incluya la suma de las columnas SibSp y Parch
# Mostrar el total por cada tamaño de familia
diabetes["BloodPressure"] = diabetes["Age"] + diabetes["Insulin"]+1

In [32]:
diabetes["BloodPressure"].value_counts()

BloodPressure
23     29
22     28
26     18
28     18
42     17
       ..
491     1
355     1
279     1
196     1
537     1
Name: count, Length: 259, dtype: int64

In [24]:
diabetes.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

## Consulta

In [25]:
# df.iloc[i]: Accede a la fila en la posición i.
# Acceder a la primera fila
diabetes.iloc[0]

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 0, dtype: float64

In [26]:
# Acceder a las dos primeras filas
diabetes.iloc[:2]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [27]:
#Seleccionar columnas, indicando entre corchetes [nombreColumna, nombreColumna]
diabetes[["BMI","Insulin"]]

      BMI  Insulin
0    33.6        0
1    26.6        0
2    23.3        0
3    28.1       94
4    43.1      168
..    ...      ...
763  32.9      180
764  36.8        0
765  26.2      112
766  30.1        0
767  30.4        0

[768 rows x 2 columns]

In [28]:
#Selección de filas [indicar dataframe[columna] operador valor]
BMI = diabetes[diabetes["BMI"] == 0]

In [29]:
#ordenar usando funcion sort_values(by=atributo, ascending=True/false)
BMI.sort_values(by="BMI", ascending=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,8,125,96,0,0,0.0,0.232,54,1
49,7,105,0,0,0,0.0,0.305,24,0
60,2,84,0,0,0,0.0,0.304,21,0
81,2,74,0,0,0,0.0,0.102,22,0
145,0,102,75,23,0,0.0,0.572,21,0
371,0,118,64,23,89,0.0,1.731,21,0
426,0,94,0,0,0,0.0,0.256,25,0
494,3,80,0,0,0,0.0,0.174,22,0
522,6,114,0,0,0,0.0,0.189,26,0
684,5,136,82,0,0,0.0,0.640,69,0
706,10,115,0,0,0,0.0,0.261,30,1

In [30]:
#Agrupar por un atributo y calcular función de agregación utilizando groupby(atributo)['atributoAgregacion].funcion() (ej. mean() para promedio)
BMI.groupby("Age")["SkinThickness"].mean()

Age
21    15.333333
22     0.000000
24     0.000000
25     0.000000
26     0.000000
30     0.000000
54     0.000000
69     0.000000
Name: SkinThickness, dtype: float64

In [ ]:
# Rango de valores
#Pregnancies: 0 – 17
#Glucose: 0 – 199
#BloodPressure: 0 – 122
#SkinThickness: 0 – 99
#Insulin: 0 – 846
#BMI: 0 – 67.1
#DiabetesPedigreeFunction: 0.078 – 2.42
#Age: 21 – 81
#Outcome: 0 – 1

In [ ]:
# Análisis estadístico (media, mediana, desviación estándar)
#Glucose: media ≈ 121, mediana 117 nivel de glucosa elevado en promedio, consistente con población diabética
#BloodPressure: media ≈ 69, mediana 72 hay muchos ceros que representan varios datos faltantes
#SkinThickness:media ≈ 20, mediana 23 hay una gran dispersión y muchos ceros
#Insulin: media ≈ 80, mediana 30 algunos outliers fuertes elevan la media
#BMI: media ≈ 32, mediana 32 en promedio población con obesidad 
#DPF: media ≈ 0.47, mediana 0.37 la mayoría tiene riesgo genético bajo, hay pocos con valores muy altos
#Age:media ≈ 33, mediana 29 la mayoría es joven, hay pocos mayores de 60
#Outcome: proporción de diabéticos ≈ 35%

In [ ]:
#Conclusiones
#El dataset contiene valores faltantes codificados como 0, especialmente en Glucose, BloodPressure, SkinThickness, Insulin y BMI
#La población presenta obesidad y glucosa elevada en promedio, lo que confirma un grupo de alto riesgo
#Varias variables presentan sesgos importantes y outliers, lo que debe considerarse en análisis a profundidad
#El Outcome está desbalanceado (65% sin diabetes, 35% con diabetes), pero esto es relevante para modelos de clasificación